html {
    background: url(https://i.imgur.com/ZqoEU9o.jpg);
    background-size: cover;
}

.ns {
  margin: 5px;
  padding:5px;
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  width: 200px;
  height: 150px;
  outline: 1px solid;
  float: left;
  text-align: center;
  word-wrap: break-word;
}

.ns-watched {
  text-decoration-color: #cc3399;
  background-color: #b3b3b3;
}

.nd {
  /* padding:2px; */
  /* background-color: #f2f2f2; */
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  /* width: 200px; */
  /* height: 150px; */
  /* outline: 1px solid; */
  clear: both;
  text-align: left;
  word-wrap: break-word;
}

.nd-div {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nd-container {
  background-color: #f2f2f2;
  outline: 1px solid;
  margin:5px;
}

a:hover {
  color: #ffffff;
  background-color: #4d4d4d;
}
